@page
@model Reportingtool.Pages.NoReportsModel

@{
    ViewData["Title"] = Model.Current_User + " - CVXRT";
}

<hr class="my-5">

<!--Intro-->
<section>
    <div class="container-fluid border-bottom">
        <h2 class="py-2 text-center">No Report Is In Progress</h2>
    </div>
</section>
<!--/Intro-->
