/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
	height: 100%;
}

@media (max-width: 740px) {
	.full-page-intro {
		height: 1000px;
	}
}

/* Half Page Carousel itself*/
.carousel {
	height: 50%;
}

	.carousel .carousel-inner {
		height: 100%;
	}

		.carousel .carousel-inner .carousel-item,
		.carousel .carousel-inner .active {
			height: 100%;
		}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
	.carousel {
		height: 100%;
	}
}

/* Navbar animation */
.navbar {
	background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
	background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #1C2331;
	}
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
	background-color: #1C2331;
}

.infolabel {
	display: block;
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--purple);
}

.inline.dropdown {
	display: inline-block;
}

.paddedHeader {
	padding-top: 30px;
}

.breadcrumbs {
	color: var(--purple);
}

.list-group-item .close {
	cursor: pointer;
	transition: 0.4s;
	font-weight: normal;
}

	.list-group-item .close:hover {
		transform: scale(1.1);
	}

#machinesOnRoute th:first-child {
	width: 15%;
	text-align: center;
}


/* Reporting Tool generic styles */

.rt-table .custom-switch {
	text-align: center;
}

.rt-table thead th,
.rt-table tbody td,
.rt-table tfoot th {
	vertical-align: middle;
}


.rt-check.btn
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.rt-check {
	background-color: #4B515D;
	color: grey;
}

	.rt-check.active {
		background-color: #2BBBAD;
		color: white;
	}

.rt-radio.btn
[type="radio"]:not(:checked),
[type="radio"]:checked {
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.rt-radio {
	background-color: #4B515D;
	color: grey;
}

	.rt-radio.active {
		color: white;
	}

	.rt-radio.rt-radio-default.active {
		background-color: #2bbbad;
	}

	.rt-radio.rt-radio-unique.active {
		background-color: #880e4f;
	}

	.rt-radio.rt-radio-amber.active {
		background-color: #FFA000;
	}

.rt-table caption {
	caption-side: top;
}

.rt-table td .btn {
	padding: .5rem 1.2rem;
}

	.rt-table td .btn i {
		font-size: 1.2rem;
	}

/* Schedule Work Table Styles */

.route-table th:first-child {
	width: 50%;
}

.route-table th:nth-child(n+2),
.route-table td:nth-child(n+2) {
	text-align: center;
}

.route-table th:last-child {
	min-width: 60px;
	white-space: nowrap;
}

.route-table td:last-child {
	padding: 0px;
	height: 100%;
}


/* Create Reports Table Styles */

.route-table th:first-child {
	width: 50%;
}

.route-table th:nth-child(n+2),
.route-table td:nth-child(n+2) {
	text-align: center;
}

.route-table th:last-child {
	min-width: 60px;
}

.route-table td:last-child {
	padding: 0px;
	height: 100%;
}





.md-form .field-data {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: var(--purple);
    width: 100%;
    text-decoration: none;
    border-bottom: none !important;
    box-shadow: none !important;
}

.md-form .field-label {
    color: #757575;
    font-size: 0.8rem;
    background-color: #fff;
    width: 100%;
}


.editforminputfield {
    text-decoration: none;
    border: 0;
    background-color: #fff;
    border-bottom: none !important;
    box-shadow: none !important;
}

/* chippy checkboxes 
	by Adam Quinlan
	https://codepen.io/quinlo/pen/ReMRXz
*/
ul.ks-cboxtags {
	list-style: none;
	padding: 20px;
	font-size: 1rem;
	margin-left: -20px;
}

	ul.ks-cboxtags li {
		display: inline;
	}

		ul.ks-cboxtags li label {
			display: inline-block;
			background-color: rgba(255, 255, 255, .9);
			border: 2px solid rgba(139, 139, 139, .3);
			color: #adadad;
			border-radius: 25px;
			margin: 3px 0px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-tap-highlight-color: transparent;
			transition: all .2s;
		}

		ul.ks-cboxtags li label {
			padding: 8px 12px;
			cursor: pointer;
		}

		ul.ks-cboxtags.ks-radio li label {
			padding: 8px 12px;
			cursor: pointer;
			width: 100%;
		}


			ul.ks-cboxtags li label::before {
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				font-size: 12px;
				padding: 2px 6px 2px 2px;
				content: "\f067";
				transition: transform .3s ease-in-out;
			}

		ul.ks-cboxtags li input[type="checkbox"]:checked + label::before,
		ul.ks-cboxtags li input[type="radio"]:checked + label::before {
			content: "\f00c";
			transform: rotate(-360deg);
			transition: transform .3s ease-in-out;
		}

		ul.ks-cboxtags li input[type="checkbox"]:checked + label,
		ul.ks-cboxtags li input[type="radio"]:checked + label {
			border: 2px solid #1bdbf8;
			background-color: #12bbd4;
			color: #fff;
			transition: all .2s;
		}

		ul.ks-cboxtags li input[type="checkbox"],
		ul.ks-cboxtags li input[type="radio"] {
			position: absolute;
			opacity: 0;
		}

			ul.ks-cboxtags li input[type="checkbox"]:focus + label,
			ul.ks-cboxtags li input[type="radio"]:focus + label {
				border: 2px solid #e9a1ff;
			}

/* column hiding 
	https://phppot.com/css/automatic-column-hiding-using-css-in-responsive-table/

*/

@media (max-width: 1225px) and (min-width: 1045px) {
	/* lowest priority */
	.route-table > * > tr > *:nth-child(2) {
		display: none;
	}
}

@media (max-width: 1045px) and (min-width: 835px) {
	/* lowest priority */
	.route-table > * > tr > *:nth-child(2) {
		display: none;
	}

	.route-table > * > tr > *:nth-child(5) {
		display: none;
	}
}

@media (max-width: 835px) and (min-width: 300px) {
	/* lowest priority */
	.route-table > * > tr > *:nth-child(2) {
		display: none;
	}

	.route-table > * > tr > *:nth-child(5) {
		display: none;
	}

	.route-table > * > tr > *:nth-child(3) {
		display: none;
	}
}

@media (max-width: 300px) {
	/* lowest priority */
	.route-table > * > tr > *:nth-child(2) {
		display: none;
	}

	.route-table > * > tr > *:nth-child(5) {
		display: none;
	}

	.route-table > * > tr > *:nth-child(3) {
		display: none;
	}

	.priority-2 {
		display: none;
	}
}


/* index styles */

.card-kpi {
	position: relative;
}

.card-kpi h1 {
	position: absolute;
	font-size: 5rem;
	top: -7rem;
	left: 1.25rem;
	color: white;
	padding: 0 0.75rem;
	background: rgba(0,0,0,0.3)
}

.rgba-black-lighter {
	background: rgba(0,0,0,0.15);
}

/* machine notes */
.dropzone.dz-clickable {
	border: 2px dashed deepskyblue;
}

.machine-note .blockquote-footer .btn {
	font-size: 1rem;
	color: rgba(100,100,150,0.25);
	box-shadow: none;
	padding: 0 0.5rem;
	transition: 0.4s ease;
	margin: 0 0.5rem;
}

	.machine-note .blockquote-footer .btn:hover {
		color: teal;
		transition: 0.4s ease;
	}

/* jquery styling for searcher */
.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	padding: 5px 0px;
	margin: 0 0 10px 25px;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.ui-menu-item {padding: 0.5rem 20px;}

.ui-menu-item > a.ui-corner-all {
	display: block;
	padding: 5px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
	text-decoration: none;
	margin-left: 20px;
}

.ui-state-hover, .ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}